@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #d3a5d1;
    font-family: 'Ubuntu', sans-serif;
    
}

header{
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

header input {
    padding: 0.5rem;
    width: 30rem;
    outline: none;
  }
 
  header button {
    padding: 0.5rem 2rem;
    width: 30rem;
    cursor: pointer;
    font-weight: bold;
    transition: 500ms;
    background-color: #ed3ebb;
  }


.main{
    border: solid 5px hsl(194, 85%, 43%);
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;


}



.img
{   
    
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.righleft{
    flex: 1;
}




.right{
flex: 1;
}
